/nbproject
/.gitbackup
/competition_common/jwt.php
/competition_common/token.php
/competition/error_log
/competition/newconnect.php
/competition/changeName.php
/competition/scrambler/databaseTest.php
/competition/scrambler/error_log
/competition/scrambler/forum.sql
/competition/scrambler/index.php
/competitions/error_log
/competitions/newconnect.php
/competitions/changeName.php
